* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}

.main-title{
  margin-bottom: 10px;
  text-align: center;
}

.textarea {
  min-width: 100%;
  max-width: 100%;
  height: 80px;
  margin-bottom: 30px;
  font-size: 20px;
}

.test-text {
  margin-bottom: 20px;
  font-size: 20px;
}

.timer {
  margin-bottom: 10px;
}

.success {
  background-color: green;
}

.fail {
  background-color: red;
}

.btn {
  padding: 10px 15px;
  background-color: aliceblue;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 16px;
}

.btns-container{
  display: flex;
  gap: 20px;
}

.btns-container-difficulty {
  display: flex;
  width: 40%;
  margin: 0 auto;
  justify-content: space-between;
}

.btn-difficulty{
  padding: 15px 20px;
}

.select-title{
  text-align: center;
  margin-bottom: 20px;
}